<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">


      <h2>Sign In with</h2>
      <div>
        <button class="btn btn-block btn-social btn-github" (click)="githubSignIn()">
          <span class="fa fa-github"></span>GitHub
        </button>
      </div>
      <hr>
      <!-- <div>
        <button class="btn btn-block btn-social btn-twitter">
          <span class="fa fa-twitter"></span>Twitter
        </button>
      </div> -->
      <hr>
      <button class="btn btn-block btn-social btn-facebook" (click)="facebookLogin()">
        <span class="fa fa-facebook"></span>Facebook
      </button>

      <hr>
      <button class="btn btn-block btn-social btn-google" (click)="googleSignInLemon()">
        <span class="fa fa-google"></span>Google Lemon
      </button>

      <hr>
      <button class="btn btn-block btn-social btn-google" (click)="googleSignInNs()">
        <span class="fa fa-google"></span>Google NS
      </button>

      
    </div>
  </div>
</div>